<div class="footer bc-red">
    <div class="container footer_mobile_d-flex">
        <div class="d-flex jc-sb">
            <ul class="footerMenu d-flex fz-16_white jc-sb">
                <li><a href="#">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>

            <ul class="socialIcon d-flex jc-sb">
                <li class="w-48"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="ic-social-fb"></a></li>
                <li class="w-48"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ic_social_ig"></a></li>
                <li class="w-48"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="ic_social_line"></a></li>
            </ul>

        </div>

        <div>
            <div class="d-flex ai-c">
                <div class="material-icons-outlined size-36">
                    phone
                </div>
                <p class="fz-36_white ml-20">0800-000-000</p>
            </div>


            <div class="d-flex ai-c">
                <div class="material-icons-outlined size-36">
                    mail
                </div>               
                <p class="fz-36_white ml-20">glasses@business.com</p>
            </div>
        </div>
        
    </div>
</div>


<div class="bc-red">
    <div class="copyright d-flex jc-sb container">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="law d-flex jc-sb">
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
        </ul>
    </div>
</div>