<div class="bc-red">
    <div class="header d-flex jc-sb">
        <div class="headerLogo">
            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo-white.png">
            </a>
        </div>

        <ul class="headerMenu d-flex jc-sb">
            <li><a class="fz-20_white" href="#">系列鏡框</a></li>
            <li><a class="fz-20_white" href="#">門市據點</a></li>
            <li><a class="fz-20_white" href="#">部落格</a></li>
            <li><a class="fz-20_white" href="#">常見問題</a></li>
        </ul>
    </div>
</div>