


a:hover{
    opacity: 0.7;
}

.headerMenu li:hover{
    a{
        color:#650300;
        font-weight: bold;
    }
}


/* 間距調整 */

.d-flex{
    display: flex;
}

.fw-wrap{
    flex-wrap: wrap;
}

.ta-c{
    text-align: center;
}

.jc-sb{
    justify-content: space-between;
}

.ai-c{
    align-items: center;
}


.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.mt-8{
    margin-top: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.mt16_mb8{
    margin-top: 16px;
    margin-bottom: 8px;
}

.ml-20{
    margin-left: 20px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-48{
    margin-bottom: 48px;
}

.mx-auto{
    margin: 0 auto;
}


/* 顏色大小設定 */


.bc-white{
    background-color: #FFFFFF;
}

.bc-red{
    background-color: #aa0601;
    color: #FFFFFF;
}

.bc-pink{
    background-color: #fbf2f2;
}

.c-gray{
    color: gray;
}

.fz-16_white{
    color: #FFFFFF;
}


.fz-20_white{
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 20px;
}



.fz-24_red{
    color: #650300;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}

.fz-36_white{
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 36px;
}

.fz-36_red{
    color: #650300;
    line-height: 1.5;
    font-size: 36px;
}


.fz-48_red{
    font-size: 48px;
    line-height: 1.5;
    color: #650300;
    text-align: center;
    font-weight: bold;
}

.fz48_red_italic{
    color: #aa0601;
    line-height: 1.5;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}

.fz-48_white{
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 48px;
    font-weight: bold;
}

.fz-64_red{
    color: #650300;
    line-height: 1.5;
    font-size: 64px;
    font-weight: bold;

}



/* 寬度 */

.w-84{
    width: 84px;
}




.size-36{
    font-size: 36px;
}

.w-48{
    width: 48px;
}





.container{
    max-width: 80%;
    margin: 0 auto;
}

.header{
    /* 同container */
    max-width: 80%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.headerLogo{
    width: 80px;
}

.headerMenu{
    width: 50%;
    align-items: center;
}


@media(max-width:991px){
    .container{
        max-width:90%;
        margin: 0 auto;
    }
    .header{
        /* 同container 不可設px*/
        max-width: 90%;
        margin: 0 auto;
    }
    .headerMenu{
        width: 70%;
    }
}

@media(max-width:767px){
    .container{
        max-width: 95%;
    }
    .header{
        max-width: 100%;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .headerLogo{
        margin-left: 15px;
    }
    .headerMenu{
        width: 100%;
        flex-wrap: wrap;
    }
    .headerMenu li{
        padding-top: 12px;
        padding-bottom: 12px;
        border: 1px solid #FFFFFF;
        width: 50%;
        text-align: center;
    }
    .headerMenu a{
        font-size: 16px;
    }
}






.headerBanner{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
	height: 787px;
	background-size: cover;
	background-position: center center;
}

.headerBannertext{
    text-align: right;
    padding-top: 296px;
}

.headerBannerbtn{
    display: block;
    width: 104px;
    height: 41px;
    padding: 6px 12px;
    background-color:#aa0601;
    margin-left: auto;
}

@media(max-width:767px){
    .headerBanner{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
        height: 396px;
        background-size: cover;
        background-position: center center;
    }
    .headerBannertext{
        padding-top: 144px;
    }
    .headerBannertext h2{
        font-size: 16px;
    }
    .headerBannertext h1{
        font-size: 24px;
    }
}

.content{
    padding-top: 80px;
    padding-bottom: 80px;
}


.content p{
    line-height: 1.5;
}

.content li{
    width: 23%;
}


@media(max-width:991px){
    .content li{
        width: 45%;
    }
}

@media(max-width:767px){
    .content{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content h3{
        font-size: 24px;
    }
    .content li{
        width: 100%;
        padding-bottom: 36px;
    }
}






.productClassic{
    padding-top: 80px;
    padding-bottom: 80px;
}

.productClassicimg{
    width: 32%;
}

@media(max-width:1199px){
    .productClassicimg{
        width: 28%;
    }

    .productClassicimg p{
        font-size: 36px;
    }
}

@media(max-width:991px){
    .productClassic_rwdcolumn{
        flex-direction: column;
        align-items: center;
    }
    .productClassic h3{
        font-size: 24px;
    }
    .productClassicimg{
        width: 50%;
        padding-bottom: 24px;
    }
    .productClassicimg p{
        font-size: 48px;
    }
}

@media(max-width:767px){
    .productClass{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .productClassicimg{
        width: 95%;
        padding-bottom: 24px;
    }
}










.productFeat{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
	height: 608px;
	background-size: cover;
	background-position: center center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.productFeatimg_DOUBLEA{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true);
	height: 240px;
    background-size: cover;
    background-position: center center;
}

.productFeatimg_YOUTH{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true);
	height: 240px;
    background-size: cover;
    background-position: center center;
}

.productFeatimg{
    width: 100%;
}

@media(max-width:991px){
    .productFeat{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
        height: 960px;
        background-size: cover;
        background-position: center center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .productFeat_rwd{
        flex-wrap: wrap;
    }
    .productFeatimg{
        margin-bottom: 24px;
    }
}

@media(max-width:767px){
    .productFeat{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
        height: 960px;
        background-size: cover;
        background-position: center center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .productFeatimg_DOUBLEA{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true);
        height: 240px;
        background-size: cover;
        background-position: center center;
    }
    .productFeatimg_YOUTH{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true);
        height: 240px;
        background-size: cover;
        background-position: center center;
    }
    .productFeat h3{
        font-size: 24px;
    }
}





.recommend li{
    width: 23%;
}


.recommendDate{
    color: #707070;
}

.box{
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 205px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.recommend p{
    line-height: 1.5;
    font-size: 14px;
}




@media(max-width:991px){
    .recommend li{
        width: 45%;
        margin-bottom: 24px;
    }
}


@media(max-width:767px){

    .recommend h3{
        font-size: 24px;
    }
    .recommend ul{
        justify-content: center;
    }
    /* li寬度設100% 文字區塊會超過圖片?(原圖612px) */
    .recommend li{
        width: 75%;
    }
}








.contact_container{
    max-width: 60%;
    margin: 0 auto;
}

.contactNotice{
    font-size: 20px;
    line-height: 1.5;
}

.contactInfo{
    line-height: 1.5;
    margin-bottom: 8px;
}

.contactSample{
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 1px solid #000000;
    margin-bottom: 16px;
}

.contactSample_feedback{
    height: 136px;
    line-height: 1.5;
    padding-top: 6px;
    padding-left: 12px;
    border: 1px solid #000000;
    margin-bottom: 16px;
}

.checkBox{
    font-size: 24px;
}

.agreed{
    align-items: center;
}

.agreed p{
    line-height: 1.5;
}

.sendBtn{
    display: block;
    margin: 48px 110px 0px 110px;
    background-color: #aa0601;
    line-height: 1.5;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;
}


@media(max-width:991px){
    .contact_container{
        max-width: 80%;
    }

    .contactNotice{
        font-size: 16px;
    }
}


@media(max-width:767px){
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* 同container */
    .contact_container{
        max-width: 95%;
    }

    .contact_container h3{
        font-size: 24px;
    }

    .sendBtn{
        margin: 24px 0px 0px 0px;
    }
}







.footer{
    padding-top: 48px;
    padding-bottom: 32px;
}

.footerMenu{
    width: 60%;
}

.footerMenu a{
    line-height: 1.5;
    color: #FFFFFF;
}

.socialIcon{
    width: 25%;
}

.copyright{
    border-top: 1px solid #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
}

.law{
    width: 174px;
}

.law a{
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}



@media(max-width:767px){
    .footerMenu{
        display: none;
    }

    .footer_mobile_d-flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer p{
        font-size: 16px;
    }

    .copyright{
        padding-top: 16px;
        flex-direction: column;
    }

    .law{
        flex-direction: column;
    }

    .law a{
        font-size: 16px;
    }

    .copyright p, .law>li{
        margin-bottom: 8px;
    }

    .size-36{
        font-size: 18px;
    }

    .socialIcon{
        width: 88px;
    }

    .socialIcon .w-48{
        width: 24px;
    }
}